services:
  app:
    build: 
      context: ..                # Build the Dockerfile in the current directory
      dockerfile: docker/Dockerfile
    container_name: lemonaid-app
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    volumes:
      - ../:/app
      - $HOME/.aws/credentials:/root/.aws/credentials:ro
      - $HOME/.aws/config:/root/.aws/config:ro
    stdin_open: true        # able to interact with the container
    tty: true
    depends_on:
      - db

  db:
    image: pgvector/pgvector:pg17
    container_name: pgvector-db
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: vectordb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: